[submodule "src/rplidar_ros"]
	path = src/rplidar_ros
	url = https://github.com/Slamtec/rplidar_ros.git
[submodule "bldc_uart_comm"]
	path = bldc_uart_comm
	url = git@github.com:phillyphleet/bldc_uart_comm.git
